.nav {
    background-color: #FFF6EA;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgb(255, 255, 210);
    padding: 15px;
    align-items: center;
}
.nav .left{
    display: flex;
    margin-left: 20px;
    align-items: center;
}

.nav .left .menu {
    display: flex;
    margin-left: 40px;
    list-style: none;
}

.nav .right {
    margin-right: 20px;    
}


.link:hover{
    color: black ;
}

.menuItem{
    margin: 0 16px;
}